swap_tiled_layout name="no_sidebar"{
    tab {
        pane split_direction="vertical" {
            pane name="Yazi" size="1"
            pane split_direction="horizontal" {
                pane { children; }
                pane name="Terminal" size="25%"
            }
        }
    }
}

swap_tiled_layout name="no_terminal" {
    tab { pane split_direction="vertical" {
            pane name="Yazi" size="15%"
            pane split_direction="horizontal" {
                pane { children; }
                pane name="Terminal" size="1"
            }
        }
    }
}

swap_tiled_layout name="zen" {
    tab {
        pane split_direction="vertical" {
            pane name="Yazi" size="1"
            pane split_direction="horizontal" {
                pane { children; }
                pane name="Terminal" size="1"
            }
        }
    }
}
