layout {
    // ---------------------------------------------------
    // 🎨 Template
    // ---------------------------------------------------
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        children
    }

    // ---------------------------------------------------
    // 🚀 Initial Tab
    // ---------------------------------------------------
    tab focus=true {
        pane split_direction="vertical" {
            pane size="15%" command="env" name="File-Explorer"{
                args "YAZI_IDE_SIDEBAR=1" "nu" "/home/gence/.config/nushell/scripts/yazi-zx.nu"
                focus true
            }
            pane split_direction="horizontal" {
                pane command="hx" name="Helix"
                pane name="Terminal" size="25%" // Terminal
            }
        }
    }
}
